/* Custom default button */
.btn-default
 {
  color: #333;
  background-color: #fff;
}

.btn-default:focus, .btn-default:hover
{
  opacity:0.8;
}

p{
  padding-left:25px;
  padding-right:25px;
}

html,
body {
  height: 100%;
  background-color: #006699;
}
body {
  color: #fff;
  text-align: center;
}

.mb-50{
  margin-bottom:20px;
  margin-top:30px;
}

.demo {
  width: 100%;
}

#parentbox
{
    display: flex;
    justify-content: center;
}

.childbox
{
  align-self:center;
}


